/*
 * Estilos de tu proyecto
 */
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat';
 }
header{
    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 89px;
}
nav{
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.logo{
 
     width: auto;
     margin: 0 auto;
     height: 89px;
 }
.a-logo img{
    width: 100%;
    height: 100%;
}
.bar-lab{
    width: 40px;
    height: 40px;
    z-index: 101;
    /* border: 2px solid #f7b617; */
    position: absolute;
    right: 0;
    top:25%;
    text-align: center;

}
.bar-lab a{
    color:#333333;
    text-align: center;
}
.bar{
    background-color: #e1e1e1;
}
section{
    background-color: #F7F7F7;
}
/*========================================================================================================================*/
/*---Anny---*/
a {
	text-decoration: none;
}
.icon-square {
	color: #ffc107;
	display: inline-block;
}
.dropdown {
	padding-left: 100px;
	padding-top: 30px;
	width: auto;
	background-color: #fff;
	outline: 1px purple solid;
}
.dropbtn {
	width: auto;
	font-size: 30px;
}
.option-menu {
	display: inline-block;
}
.laboratoria-place {
	border-bottom: 2px solid #ffc107;
	width: 180px;
	outline: 1px solid green;
}
.block {
	display: block;
}
.place {
	margin-left: 6px;
}
.generation {
	margin-left: 6px;
}
.menu-form {
	margin: 12px 0;
	width: 120px;
	outline: 1px solid red;
}
